#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo ${grupo}
</p>


<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<form action = "http://10.97.3.8:9000/salvar">
	<input type="hidden" name="grupo" value=${grupo} />


	Insira seu nome : <input type="text" name="nome" /> </br></br>

	Descrição: <input type="text" name="descricao"/></br></br>

	numero de telefone <input type="number" name="numero"/></br></br>

   <label for="Faça uma descrição sobre você"></label>

   <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea> 


   <p>Escolha seu cantor favorito</p>

   <input type="radio" id="tipo" name="opcao"> TS
   <input type="radio" id="tipo" name="opcao"> Bruno Mars
   <input type="radio" id="tipo" name="opcao"> Lady Gaga

   <label for="tipo"> Selecione seu Curso</label>
   <select name="tipo" id="tipo">
     <option value="info">Info</option>
     <option value="ADM">ADM</option>
     <option value="Eletro">Eletro</option>
   </select>

   <input type="submit" value="cadastro">

</form>