#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo ${grupo}
</p>


<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<form action="http://10.97.3.8:9000/salvar">
	<input type="hidden" name="grupo" value=${grupo} />

	<label for="nome">Nome: </label><br>
	<input type="text" name="nome"><br><br>

	<label for="descricao">Se descreva: </label><br>
	<textarea rows="5" cols="21" name="descricao">
	</textarea><br><br>

	<label for="numero">Idade: </label><br>
	<input type="number" name="numero"><br><br>

	<label for="tipo">Selecione uma opção: </label><br>
	<select name="tipo">
		<option value="feminino">Feminino</option>
		<option value="masculino">Masculino</option>
		<option value="outro">Outro</option>
	</select><br><br>

	<p>Selecione uma opção:</p>
	<input type="radio" value="negro" name="opcoes">
	<label for="opcoes">Negro</label><br>
	<input type="radio" value="branco" name="opcoes">
	<label for="opcoes">Branco</label><br>
	<input type="radio" value="pardo" name="opcoes">
	<label for="opcoes">Pardo</label><br>
	<input type="radio" value="amarelo" name="opcoes">
	<label for="opcoes">Amarelo</label><br>
	<input type="radio" value="indigena" name="opcoes">
	<label for="opcoes">Indigena</label><br><br>

	<p>Data de hoje:</p><br>
	<input type="text" nome="data"><br><br>

	<input type="submit" value="Cadastrar">
</form>