#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo g7
</p>

<form action="http://10.97.3.8:9000/salvar">
	<input type="hidden" name="grupo" value=${grupo} />

	<label for="nome">Nome do Animal:</label>
    <input type="text" id="nome" name="nome" required><br><br>
	<label for="descricao">Descrição do Animal:</label>
	<input type="text" id="descricao" name="descricao"><br><br>
   
	<label for="numero">Número de Visitantes:</label>
	<input type="number" id="numero" name="numero" required><br><br>
   
	 <label for="tipo">Tipo de Corpo:</label>
	<select id="tipo" name="tipo" required>
		<option value="Magro">Magro</option>
		<option value="Normal">Normal</option>
		<option value="Sobrepeso">Sobrepeso</option>
		<option value="Obeso">Obeso</option>
	</select><br><br>
   
   <label>Problemas de Saúde:</label><br>
	<input type="checkbox" id="alergia" name="opcoes" value="Alergia">
	<label for="alergia">Alergia</label><br>
	<input type="checkbox" id="problema_cardiaco" name="opcoes" value="Problema cardíaco">
	<label for="problema_cardiaco">Problema Cardíaco</label><br>
	<input type="checkbox" id="problema_respiratorio" name="opcoes" value="Problema respiratório">
	<label for="problema_respiratorio">Problema Respiratório</label><br>
	<input type="checkbox" id="alopecia" name="opcoes" value="Alopecia">
	<label for="alopecia">Alopecia</label><br>
   
	<label for="data">Data de Registro:</label>
	<input type="text" id="data" name="data" required><br><br>
    <button type="submit">Cadastrar</button>

	   
       
     


	
	
</form>