#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo 08
</p>

<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<form action="http://10.97.3.8:9000/salvar" style="display: flex; justify-content: center; align-items: center;">

	<div id="principal" style="width: 50%;">

		<input type="hidden" name="grupo" value="${grupo}" />

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="nome">Nome:</label>
				<input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome:" required>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="data">Data de Nascimento:</label>
				<input type="date" class="form-control" id="data" name="data" placeholder="Digite a data:" required>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="numero">Telefone:</label>
				<input type="tel" class="form-control" id="numero" name="telefone" placeholder="Digite seu telefone:" required>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="numero">Id do Funcionário:</label>
				<input type="number" class="form-control" id="numero" name="id_funcionario" placeholder="Digite seu ID:" required>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="tipo">Funcionalidade:</label>
				<select id="tipo" class="form-control" name="funcionalidade" required>
					<option value="nulo">Selecione</option>
					<option value="INFLUENCER DIGITAL">Influencer Digital</option>
					<option value="TRANSPORTADOR">Transportador</option>
					<option value="GERENTE">Gerente</option>
					<option value="PROFISSIONAL DE RH">Profissional de RH</option>
				</select>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label>Área de Atuação:</label>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<input type="radio" name="area_atuacao" value="operacional" id="opcoes" required>
				<label for="operacional">Operacional</label>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<input type="radio" name="area_atuacao" value="financeira" id="opcoes" required>
				<label for="financeira">Financeira</label>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<input type="radio" name="area_atuacao" value="marketing" id="opcoes" required>
				<label for="marketing">Marketing</label>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<input type="radio" name="area_atuacao" value="recursosHumanos" id="opcoes" required>
				<label for="recursosHumanos">Recursos Humanos</label>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<button type="submit" class="btn btn-primary">Enviar</button>
				<button type="reset" class="btn btn-secondary">Limpar</button>
			</div>
		</div>

	</div>

</form>
