#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo g09
</p>


<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<form action="http://10.97.3.8:9000/salvar">
	<input type="hidden" name="grupo" value=g09 />
	<label for="nome">Nome:</label>
	<input type="text" name="nome" placeholder="Digite seu nome: ">
	<label for="descricao">Decrição</label>
	<input type="text" name="descricao" placeholder="Descreva">
	<label for="numero">Número</label>
	<input type="number" name="numero" placeholder="Digite um número">

	<input type="checkbox" name="opcoes" value="masc">
	<label for="masc">Masculino</label>
     <input type="checkbox" name="opcoes" value="fem">
	 <label for="fem">Feminino</label>
	 <input type="checkbox" name="opcoes" value="none">
     <label for="none">Nenhum</label>

	
	<label for="date">Insira uma data</label>
	<input type="text" name="data">
	<input type="submit" value="enviar">
</form>