#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo ${grupo}
</p>


<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

 <h1>Produtos</h1>
 <div>
	
	<form action = "http://10.97.3.8:9000/salvar">
		
		<input type="hidden" name="grupo" value=${grupo} />
		
		<label for="name">Nome:</label><br>
		<input type="text" name="nome" id="nome" autocomplete="off" /><br>
	
		<label for="name">Descrição:</label><br>
		<textarea name="descricao" id="descricao" holderplace></textarea><br>
	
		<label for="numero">Quantidade:</label><br>
		<input type="number" name="numero" id="numero" autocomplete="off"><br>
	
		<label for="tipo">Tipo:</label><br>
		<select name="tipo" id="tipo">
			<option value="Limpeza">Limpeza</option>
			<option value="Comida">Comida</option>
			<option value="Bebiba">Bebiba</option>
			<option value="Cosmetico">Cosmeticos</option>
		</select>
		<br>

		<label for="opcoes">Opções:</label><br>
		<input type="checkbox" name="opcoes" id="entrega">
		<label for="entrega">Entrega</label><br>
		<input type="checkbox" name="opcoes" id="embrulhar">
		<label for="embrulhar">Embrulhar</label><br>
		<input type="checkbox" name="opcoes" id="separar">
		<label for="separar">Separar</label>
		
		<br>
		
		<label for="data">Validade:</label>
		<input type="date" name="data" id="data">
		

	
	
		
		<input type="submit" value="Cadastrar">
	
	
		
	</form>
 </div>